body {
  /* background-color: #a7630a !important; */
  color: #c4d674 !important;
  /* background: -webkit-linear-gradient(
    to right,
    #0d47cf,
    #73c8a9
  ); Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #7271b1,
    #61a6e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.img {
  background-color: #9c5d39;
}
